app.twitter.consumerKey=
app.twitter.consumerSecretKey=
app.twitter.accessToken=
app.twitter.secretAccessToken=
app.kafka.bootstrapServer=127.0.0.1:9092
app.kafka.producer.idempotence=true
app.kafka.producer.acks=all
app.kafka.producer.request.per.connection=5
app.kafka.producer.compression=snappy
app.kafka.producer.linger=20
app.kafka.producer.batch=32768

